:root {
	/* Colors */
	--color-mono-alfa: #ffffff;
	--color-mono-zulu: #000000;
	--color-blue-hotel: #03A6A6;
	--color-blue-mike: #0388A6;
	--color-blue-tango: #011C40;
	--color-orange-hotel: #F29F05;
	--color-orange-mike: #F25C05;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--color-mono-alfa);
	background-color: var(--color-orange-hotel);
}

h1, h2 {
	margin: 0 0 1rem;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

